<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
</head>
<body>
    <h1>Total Number Of people Associated With Us <%= count %></h1>
    <button onclick="window.location.href = `http://localhost:8080/add`">Join Us</button>
    <button onclick="window.location.href = `http://localhost:8080/show`">Show Users</button>
</body>
</html>